# Data Science Tools and Ecosystem

In this notebook , Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1.PYTHON
2.JAVA
3.SQL
4.R
5.C++ etc...

Some of the commonly used libraries used by Data Scientists include:
1.NUMPY
2.PANDAS
3.MATPLOTLIB
4.SCIPY
5.SCIKIT
6.KERAS

| Data Science Tools|
| ------------------|
| APACHE SPARK|
| JUPYTER NOTEBOOK|
| APACHE HADOOP|
|TENSORFLOW|

# Below are a few examples for evaluating arithmatic expressions in Python

In [3]:
# this is a common arithmatic example to multiply and then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for data science
* List popular libraries for data science
* List of well known data science tools 
* How to provide comments in the cell